<html>
    <head>
        <title>SortIPL</title>
    </head>
    <body>
        <table>
            <form action="/details" method="POST">
                <tr>
                    <td>Enter Score:</td>
                    <td><input type="number" name="score"></td>
                </tr>
                <tr>
                <td>Enter Player:</td>
                <td><input type="text" name="player" id="player"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
            </form>
        </table>
    </body>
    <!-- <script>
        function setAction(form) {
            var nameValue = document.getElementById("player").value;
            form.action = "/details/"+name;
            
            return true;
            }
    </script> -->
</html>